.App {
  background-color: #181818;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: snow;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  margin:20px;
  padding:10px;
  
}
.card:hover{
  background-color: grey;
  transform: scale(1.05) 
}

.card_title {
  color:pink
}

.card_row_likes {
  border-top: 2px solid #303030;
  background-color: grey;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card_likes {
  border-radius: 5%;
  padding:5px;
 
}